

Body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #777;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.side-bar {
    background-color: rgb(57, 152, 246);
    display: grid;
    gap: .75rem;
    grid-template-rows: 5% 47.5% 47.5%;
}

.side-bar a {
    display: flex;
    gap: .5rem;
}

.logo{
    grid-area: 1/1/2/2;
}

.navigation{
    grid-area: ;
}

li {
    display: flex;
    flex-direction: row;
}

.settings{
    grid-area: 3/1/4/2;
}


.header {
    display: grid;
    grid-area: 1/1/2/3;
    background-color: rgb(163, 245, 11);
}

.body {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-area: 2/1/7/3;
    /* background-color: rgb(9, 9, 239); */
}

.cards{
    grid-area: 1/1/7/5;
    background-color: rgb(197, 4, 4);
}


.news{
    grid-area: 1/5/7/7;
    background-color: purple;
    
}